<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<%= link_to "Post a New Status", new_status_path, class: "btn btn-success btn-bottom" %>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="well">
			<%= status.content %>
			<hr>
			<%= link_to time_ago_in_words(status.created_at) + " ago", status_path(status) %>
		</div>
	<% end %>
<% end %>

<%= link_to 'Back', statuses_path %>
